body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
}

nav a {
    color: #00bcd4;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}

.intro, .projects, .contact {
    margin-top: 20px;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
}

.project {
    background: #2a2a2a;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

a {
    color: #00bcd4;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #00bcd4;
    color: #121212;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.hc {
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    background-color: #1f1f1f;
}

.pc {
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    background-color: #1f1f1f;
    text-align: left;
}

.ch {
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    background-color: #1f1f1f;
    text-align: left;
}

#searchBar {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

